.container {
  width: 100%;
  display: flex;
  margin-top: 20px;
  gap: 10px;
}
.rastreio-code {
  height: 110px;
  width: 275px;
  background: #FFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 20px 10px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rastreios {
  width: 100%;
  flex:1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
.rastreio-code-invalid {
  width: 100%;
  background: #FFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 30px 20px;
  transition: all 200ms;
}
.rastreio-code-invalid h3{
  margin: 10px 0;
}
@media (max-width: 1000px) {
  .rastreio-code {
    width: 100%;
    height: auto;
  }
  .container {
    flex-direction: column;
  }
}