* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background: #f6e58d;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-control {
    text-transform: uppercase;
}
header nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.lista-menu {
    display:flex;
    flex-direction: row;
    list-style-type: none;
}
.lista-menu li {
    margin: 20px;
}
.logo {
    margin: 20px;
}
.sub {
    margin-top: 13px;
    width:100%;
    font-size: 27px;
}