#sobre {
  margin-top: 10px;
  background: #FFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 30px 20px;

  
}
#sobre p {
  font-size: 14px;
  text-align: justify;
}
#sobre h2 {
  margin: 15px 0;
}